{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ayushman Adhikari</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->   
  <link href="{% static 'blog/img/favicon.png' %}" rel="icon">
  <link href="{% static 'blog/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Static navbar -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
        <a class="navbar-brand" href="{% url 'blog-home' %}">Home</a>
      </div>
      {% if user.is_authenticated %}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Create Post</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      {% else %}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
      {% endif %}
        <!--/.nav-collapse -->
    </div>
  </div>

<!-- +++++ Content Section to be used in all other pages +++++ -->
  {% block content %}
  {% endblock content %}

  <!-- +++++ Footer Section +++++ -->
  
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>My Bunker</h4>
            <p>
              Mahadevsthan, Kathmandu,<br/> +977-9843614799, <br/> Kathmandu, Nepal.
            </p>
          </div>
          <!-- /col-lg-4 -->

          <div class="col-lg-4">
            <h4>My Links</h4>
            <p>
              <a href="#">Instagram</a><br/>
              <a href="#">Twitter</a><br/>
              <a href="#">Facebook</a>
            </p>
          </div>
          <!-- /col-lg-4 -->

          <div class="col-lg-4">
            <h4>About Me</h4>
            <p>I am a begineer just learning to code. This is my first project but there are much more to come. Stay tuned!</p>
          </div>
          <!-- /col-lg-4 -->
        </div>
      </div>
    </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy;  <strong>Ayushman</strong>. All Rights Reserved
      </p>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'blog/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

</body>
</html>
