{% extends 'blog/base.html' %}
{% load static %}


<html>
  <head>

  </head>
  <body>

    {% block content %}

          <!-- +++++ Welcome Section +++++ -->
      <div id="ww">
        <div class="container">
          <div class="row"> 
            <div class="col-lg-8 col-lg-offset-2 centered">
              <img src=" {% static 'blog/img/user.png' %}" alt="Stanley">
              <h1>Hi, I am Ayushman!</h1>
              <p>Hello everybody. I'm Ayushman, a begineer at coding. This is my first project. This is a blog and you can explore it find some interesting posts.
                Please feel free to give me feedback regarding anything about this website.</p> 
              <p>Thank you for visiting!</p>

            </div>
            <!-- /col-lg-8 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /ww -->

    {% endblock %}

  </body>
</html>